:root {
  --ctp-base: #1e1e2e;
  --ctp-mantle: #181825;
  --ctp-crust: #11111b;
  --ctp-surface0: #313244;
  --ctp-surface1: #45475a;
  --ctp-surface2: #585b70;
  --ctp-overlay0: #6c7086;
  --ctp-overlay1: #7f849c;
  --ctp-overlay2: #9399b2;
  --ctp-text: #cdd6f4;
  --ctp-subtext0: #a6adc8;
  --ctp-subtext1: #bac2de;

  --ctp-rosewater: #f5e0dc;
  --ctp-flamingo: #f2cdcd;
  --ctp-pink: #f5c2e7;
  --ctp-mauve: #cba6f7;
  --ctp-red: #f38ba8;
  --ctp-maroon: #eba0ac;
  --ctp-peach: #fab387;
  --ctp-yellow: #f9e2af;
  --ctp-green: #a6e3a1;
  --ctp-teal: #94e2d5;
  --ctp-sky: #89dceb;
  --ctp-sapphire: #74c7ec;
  --ctp-blue: #89b4fa;
  --ctp-lavender: #b4befe;

  --left-panel-bg-no-transparency: var(--ctp-mantle);
  --space-bar-bg: var(--ctp-crust);

  --search-bar-input-fg: var(--ctp-text);
  --search-input-bg-experimental: var(--ctp-surface0);

  --default_avatar_hue: var(--ctp-blue);

  --chatview__composer__backgroundcolor: var(--ctp-surface0);
  --chatview__backgroundcolor: var(--ctp-base);
  --chatview__readmarker__fontcolor: var(--ctp-teal);
  --chatview__pill__backgroundcolor: var(--ctp-mantle);
  --chatview__pill__fontcolor: #f00;
  --chatview__message__fontcolor: var(--ctp-text);
  --chatview__readreceipt__fontcolor: #ff0;
  --chatview__message_self__backgroundcolor: var(--ctp-lavender);
  --chatview__message_self__fontcolor: var(--ctp-crust);
  --chatview__message_error__bordercolor: var(--ctp-red);
  --chatview__message_error__backgroundcolor: var(--ctp-red);
  --chatview__message_error__fontcolor: var(--ctp-mantle);
  --chatview__message_tag__fontcolor: #00f;
  --chatview__message_link_self__fontcolor: var(--ctp-blue);
  --chatview__message_linkpreview__fontcolor: var(--ctp-blue);
  --chatview__message_keyrequest__fontcolor: var(--ctp-text);
  --chatview__message_keyrequest_link__fontcolor: var(--ctp-blue);
  --chatview__message_viewthread__fontcolor: var(--ctp-text);
  --chatview__message_reply__backgroundcolor: rgba(30, 30, 46, 0.42);
  --chatview__message_reply_sender_name__fontcolor: #f5f;
  --chatview__message_download__backgroundcolor: #f0f;
  --chatview__message_highlighted__backgroundcolor: #ff0;
  --chatview__message_selected__backgroundcolor: #ff0;
  --chatview__message_giflabel__backgroundcolor: #f0f;
  --chatview__message_giflabel__bordercolor: #f0f;
  --chatview__message_giflabel__fontcolor: #f0f;
  --chatview__message_details__backgroundcolor: #00f;
  --chatview__message_details_floating__fontcolor: #00f;
  --chatview__message_code__backgroundcolor: #f5f;
  --chatview__message_quote__bordercolor: #ff6;
  --chatview__message_quote__fontcolor: #f8f;
  --chatview__message_reaction_add_self__backgroundcolor: var(--ctp-teal);

  --archive-fg: var(--ctp-text);
  --azure-full: var(--ctp-blue);
  --azure-pale: var(--ctp-lavender);
  --base: var(--ctp-text);
  --global__kdb__backgroundcolor: var(--ctp-base);
  --global__kdb__shadow: var(--color-crust);
  --global__avatar__basecolor: var(--ctp-blue);
  --global__fontcolor: var(--ctp-text);
  --global__dragndrop__backgroundcolor: var(--ctp-mantle);
  --global__error__fontcolor: var(--ctp-red);
  --global__button_disabled__fontcolor: var(--ctp-mantle);
}

body {
  background-color: var(--ctp-base);
  color: var(--ctp-text);
}

.error,
.warning,
.text-error,
.text-warning {
  color: var(--ctp-red);
}

.text-success {
  color: var(--ctp-green);
}

.text-muted {
  color: var(--ctp-surface1);
}

h2 {
  color: var(--ctp-text);
}

a,
a:link {
  color: var(--ctp-blue);
}

a:hover {
  color: var(--ctp-sapphire);
}

a:visited {
  color: var(--ctp-mauve);
}

.mx_Dialog,
.mx_MatrixChat_wrapper {
  .mx_textinput > input[type='text'],
  .mx_textinput > input[type='search'] {
    color: var(--ctp-text);
  }

  :not(.mx_textinput):not(.mx_Field):not(.mx_no_textinput):not(.bp_TextInput2) > input[type='text'],
  :not(.mx_textinput):not(.mx_Field):not(.mx_no_textinput):not(.bp_TextInput2)
    > input[type='search'],
  .mx_textinput {
    color: var(--ctp-base);
  }
}

/* seems to be the right panel (info about the room)	 */
.dark-panel {
  background-color: var(--ctp-mantle);
}

/* frame around selected space	 */
.ED6hnM59dIDcpfzGwRgcw._2Ehy5SR2431Qst4W5pYqzH {
  border-color: var(--ctp-overlay0);
}

.bp_Icon {
  fill: var(--ctp-subtext0);
}

.bp_LeftPanel {
  background-color: var(--ctp-mantle);
}

.bp_LeftPanel .rooms .favourites.rooms__section {
  background-color: var(--ctp-mantle);
}

.bp_Header {
  background-color: var(--ctp-mantle);
}

.bp_Header > .controls .mx_AccessibleButton::before {
  background-color: var(--ctp-subtext0);
}

.bp_Header > .controls .mx_AccessibleButton:hover:not(.mx_AccessibleButton_disabled)::before {
  background-color: var(--ctp-blue);
}

/* search icon on left panel search bar*/
._35xSVdLoDIOdPHIBAg_R8g ._1pTmFQiyl9hshLvZOcDfXA {
  background-color: var(--ctp-subtext0);
}

._35xSVdLoDIOdPHIBAg_R8g ._2Ssa7oGaVbyq6mkABvKL7Z::placeholder {
  color: var(--ctp-subtext0);
}

/* the Ctrl + K text */
._35xSVdLoDIOdPHIBAg_R8g ._1jDfIh9jdSpQMVLRGyXCqB {
  color: var(--ctp-subtext0);
}

/* start new chat button */
._1hKG82DTLveCHZ2K_QN7a8:hover {
  background-color: var(--ctp-surface1);
}

/* favourite chats */
._2RxYpW1IycPvkb8e8t9-uw {
  color: var(--ctp-subtext1);
}

.rooms_actions {
  background-color: var(--ctp-mantle);
  color: var(--ctp-subtext0);
}

/* inbox text */
._1G3tG1BTDkctpkif1n78-v {
  color: var(--ctp-subtext1);
}

.rooms_scroll-container {
  background-color: var(--ctp-mantle);
  /* 		color: var(--ctp-text); */
}

/* selected chat */
._2iYRbtxMK350NUKTyKq6TP._2BQ3vTKqpKPR2kFnIs36Nc {
  background-color: var(--ctp-surface0);
}

.favourite-indicator {
  color: var(--ctp-red);
}

/* pinned icon */
._2Aha1gebcJzSLmjjoIoPWS .bp_icon {
  color: var(--ctp-subtext0);
}

/* Contact name on chat list */
._1vnYRT0Usncfw-omfvREIT {
  color: var(--ctp-text);
}

/* group name on chat list */
._1vnYRT0Usncfw-omfvREIT._1zRlzDyapvcQN2KrMwXANX {
  color: var(--ctp-text);
}

/* conversation preview */
._3aLdohAs58eHtRaZ-POjlB ._1icB3m8_OGOdNGEnjhPONT {
  color: var(--ctp-subtext1);
}

/* unpin button */
._18BX2_VpE582cTh4iyMEZA:hover {
  background-color: var(--ctp-yellow);
  color: var(--ctp-base);
}

/* timestamp */
._9pYanF0mR2qDAkCUrc_Ti {
  color: var(--ctp-subtext0);
}

/* double check */
._1TNcWDmcvePFx5PzTu2T-g svg {
  fill: var(--ctp-green);
}

/* unread message counter */
._29wNnDmOKzlqOsGXbZtTjf {
  color: var(--ctp-text);
}

/* unread message counter pill */
._29wNnDmOKzlqOsGXbZtTjf._11SPfUnVN77UWmnu6vjpJS {
  background-color: var(--ctp-overlay0);
}

/* start a chat search */
._1ZauRA3DeP5KCPT_ZChu1L {
  background-color: var(--ctp-surface0);
}

.bp_Button2_text {
  color: var(--ctp-text);
}

/* start a chat with... */
._82rJk6JBLjQ2R4_RFhWI8 {
  color: var(--ctp-text);
}

.mx_ContextualMenu {
  background-color: var(--ctp-surface0);
  color: var(--ctp-text);
}

.mx_IconizedContextMenu .mx_IconizedContextMenu_optionList .mx_AccessibleButton {
  color: var(--ctp-text);
}

.mx_IconizedContextMenu .mx_IconizedContextMenu_optionList .mx_AccessibleButton:hover {
  background-color: var(--ctp-surface1);
}

/* 	.mx_IconizedContextMenu .mx_IconizedContextMenu_optionList .mx_AccessibleButton:hover {
		color: var(--ctp-sapphire);
	} */

.mx_RoomTile2_contextMenu .mx_IconizedContextMenu_icon::before {
  background-color: var(--ctp-text);
}

/* 	.mx_RoomTile2_contextMenu .mx_IconizedContextMenu_icon:hover::before {
		background-color: var(--ctp-sapphire);
	} */

.nv_RoomTile2_contextMenu_activeRow.mx_AccessibleButton,
.nv_RoomTile2_contextMenu_activeRow .mx_AccessibleButton,
.nv_RoomTile2_contextMenu_activeRow .mx_IconizedContextMenu_label,
.mx_IconizedContextMenu_icon {
  color: var(--ctp-green) !important;
  /* 		text-decoration-color: var(--ctp-sapphire) !important; */
}

.mx_IconizedContextMenu .mx_IconizedContextMenu_active.mx_AccessibleButton {
  color: var(--ctp-green) !important;
}

.mx_IconizedContextMenu .mx_IconizedContextMenu_active .mx_IconizedContextMenu_icon::before {
  background-color: var(--ctp-green);
}

[aria-label='Remove Chat'] .nv_RoomTile2_contextMenu_redRow .nv_AccessibleButton,
.nv_RoomTile2_contextMenu_redRow .mx_IconizedContextMenu_label {
  color: var(--ctp-red) !important;
}

.bp_MainPanel {
  background-color: var(--ctp-base);
}

/* self reaction */
._26kmSVS2EjmiuGo8pZydF8._1WRm95TPWOJRQ5AldIF9d8 {
  background-color: var(--ctp-surface1);
  color: var(--ctp-text);
}

/* reaction */
._26kmSVS2EjmiuGo8pZydF8.b4USVCImGBZqyP5D6_tJ_:not(._1WRm95TPWOJRQ5AldIF9d8) {
  background-color: var(--ctp-blue);
}
