:root {
  --ctp-base: #1e1e2e;
  --ctp-mantle: #181825;
  --ctp-crust: #11111b;
  --ctp-surface0: #313244;
  --ctp-surface1: #45475a;
  --ctp-surface2: #585b70;
  --ctp-overlay0: #6c7086;
  --ctp-overlay1: #7f849c;
  --ctp-overlay2: #9399b2;
  --ctp-text: #cdd6f4;
  --ctp-subtext0: #a6adc8;
  --ctp-subtext1: #bac2de;

  --ctp-rosewater: #f5e0dc;
  --ctp-flamingo: #f2cdcd;
  --ctp-pink: #f5c2e7;
  --ctp-mauve: #cba6f7;
  --ctp-red: #f38ba8;
  --ctp-maroon: #eba0ac;
  --ctp-peach: #fab387;
  --ctp-yellow: #f9e2af;
  --ctp-green: #a6e3a1;
  --ctp-teal: #94e2d5;
  --ctp-sky: #89dceb;
  --ctp-sapphire: #74c7ec;
  --ctp-blue: #89b4fa;
  --ctp-lavender: #b4befe;

  --space-bar-bg: var(--ctp-mantle);
  --space-bar-selected: var(--ctp-overlay2);
  --main-panel-bg: var(--ctp-crust);
  --left-panel-bg: var(--ctp-crust);
  --left-panel-v2-bg: var(--left-panel-bg);
  --left-panel-bg-no-transparency: var(--left-panel-bg);
  --left-panel-v2-bg-no-transparency--windows: var(--left-panel-bg);
  /* --dark-panel-bg-color: var(--ctp-crust); */
  --chatview__message_linkpreview__fontcolor: var(--ctp-blue);
  --roomtopic-color: var(--ctp-text);
  --secondary-content: var(--ctp-subtext0);
}
html {
  --archive-background: var(--ctp-base);
  --chatview__backgroundcolor: var(--ctp-base);

  --chatview__composer__backgroundcolor: var(--ctp-mantle);

  --chatview__readmarker__fontcolor: var(--ctp-red);

  --chatview__pill__backgroundcolor: rgb(var(--ctp-crust), 7%);
  --chatview__pill__fontcolor: rgb(var(--ctp-crust), 50%);
  --chatview__readreceipt__fontcolor: var(--ctp-subtext0);
  --chatview__message_self__backgroundcolor: var(--ctp-lavender);
  --chatview__message_self__fontcolor: var(--ctp-base);
  --chatview__message_error__bordercolor: var(--ctp-crust);
  --chatview__message_error__backgroundcolor: var(--ctp-red);
  --chatview__message_error__fontcolor: rgba(var(--ctp-crust), 0.8);
  --chatview__message_tag__fontcolor: var(--ctp-subtext1);
  --chatview__message_link_self__fontcolor: var(--ctp-text);
  --chatview__message_keyrequest__fontcolor: var(--ctp-subtext0);
  --chatview__message_keyrequest_link__fontcolor: var(--ctp-blue);
  --chatview__message_viewthread__fontcolor: var(--ctp-text);
  --chatview__message_reply__backgroundcolor: var(--ctp-mantle);
}

html[theme="dark"] {
  --global__fontcolor: var(--ctp-text);
  --global__hsla_color: 88%;
  --global__kdb__backgroundcolor: var(--ctp-base);
  --global__kdb__shadow: var(--ctp-crust);

  --global__shadow__color: 0deg 0% 3%;
  --global__dragndrop__backgroundcolor: var(--ctp-mantle);

  /* Timeline */
  --chatview__message_code__backgroundcolor: var(--ctp-crust);
  --chatview__message_highlighted__backgroundcolor: var(--ctp-yellow);
  --chatview__message_quote__fontcolor: var(--ctp-subtext0);
  --chatview__message_tag__fontcolor: var(--ctp-subtext1);
  --chatview__pill__backgroundcolor: rgb(var(--ctp-text), 7%);
  --chatview__pill__fontcolor: rgb(var(--ctp-text), 50%);

  /* Context Menu */
  --contextmenu__item_hover__backgroundcolor: var(--ctp-overlay0);
  --contextmenu__backgroundcolor: var(--ctp-surface0);
  --contextmenu__fontcolor: var(--ctp-text);
  --contextmenu__bordercolor: var(--ctp-overlay0);

  /* Avatar based colors & backgrounds */
  --chatview__message_reaction__backgroundsaturation: 29%;
  --chatview__message_reaction__backgroundlightness: 72%;

}

.mx_RoomHeader {
  background-color: var(--ctp-mantle);
}

.bp_LeftPanel, .bp_Header, .bp_LeftPanel_content {
  background-color: var(--ctp-crust);
}

a, a.linkified {
  color: var(--ctp-blue);
}

a:hover {
  color: var(--ctp-sapphire);
}

a:visited {
  color: var(--ctp-mauve);
}

.dark-panel {
  background-color: var(--ctp-crust);
}

.mx_BaseCard_back, .mx_BaseCard_close {
  background-color: var(--ctp-mantle);
}

.mx_RightPanel_ResizeWrapper {
  background-color: var(--ctp-base);
}

.mx_MemberList_invite.mx_AccessibleButton_disabled {
  background-color: var(--ctp-surface0);
  color: var(--ctp-overlay0);
}

.mx_MemberList_invite span::before {
  background-color: var(--ctp-overlay0);
  color: var(--ctp-overlay0);
}