:root {
  --ctp-rosewater: #f5e0dc;
  --ctp-flamingo: #f2cdcd;
  --ctp-pink: #f5c2e7;
  --ctp-mauve: #cba6f7;
  --ctp-red: #f38ba8;
  --ctp-maroon: #eba0ac;
  --ctp-peach: #fab387;
  --ctp-yellow: #f9e2af;
  --ctp-green: #a6e3a1;
  --ctp-teal: #94e2d5;
  --ctp-sky: #89dceb;
  --ctp-sapphire: #74c7ec;
  --ctp-blue: #89b4fa;
  --ctp-lavender: #b4befe;
  --ctp-text: #cdd6f4;
  --ctp-subtext1: #bac2de;
  --ctp-subtext0: #a6adc8;
  --ctp-overlay2: #9399b2;
  --ctp-overlay1: #7f849c;
  --ctp-overlay0: #6c7086;
  --ctp-surface2: #585b70;
  --ctp-surface1: #45475a;
  --ctp-surface0: #313244;
  --ctp-base: #1e1e2e;
  --ctp-mantle: #181825;
  --ctp-crust: #11111b;
}

html[theme='dark'] {
  --global__kdb__backgroundcolor: var(--ctp-base);
  --global__kdb__shadow: var(--ctp-mantle);

  --global__avatar__basecolor: var(--ctp-lavender);
  --global__fontcolor: var(--ctp-crust);
  --global__dragndrop__backgroundcolor: var(--ctp-base);
  --global__error__fontcolor: var(--ctp-red);
  --global__button_disabled__fontcolor: var(--ctp-subtext0);
  --chatview__backgroundcolor: var(--ctp-base);
  --chatview__composer__backgroundcolor: var(--ctp-mantle);
  --chatview__readmarker__fontcolor: var(--ctp-teal);

  --chatview__pill__backgroundcolor: rgb(17, 17, 27, 50%);
  --chatview__pill__fontcolor: var(--ctp-subtext0);

  --chatview__readreceipt__fontcolor: var(--ctp-subtext1);

  --chatview__message_tail__opacity: 1;
  --chatview__message_self__backgroundcolor: var(--ctp-lavender);
  --chatview__message_self__fontcolor: var(--ctp-crust);
  --chatview__message_error__bordercolor: var(--ctp-red);
  --chatview__message_error__backgroundcolor: var(--ctp-green);
  --chatview__message_error__fontcolor: rgba(205, 214, 244, 0.8);
  --chatview__message_tag__fontcolor: var(--ctp-text);
  --chatview__message_link_self__fontcolor: var(--ctp-blue);
  --chatview__message_keyrequest__fontcolor: var(--ctp-subtext1);
  --chatview__message_keyrequest_link__fontcolor: var(--ctp-blue);
  --chatview__message_viewthread__fontcolor: var(--ctp-subtext1);
  --chatview__message_reply__backgroundcolor: rgba(24, 24, 37, 0.24);
  --chatview__message_download__backgroundcolor: var(--ctp-blue);
  --chatview__message_highlighted__backgroundcolor: var(--ctp-yellow);
  --chatview__message_selected__backgroundcolor: rgba(17, 17, 27, 0.3);
  --chatview__message_giflabel__backgroundcolor: var(--ctp-surface1);
  --chatview__message_giflabel__bordercolor: var(--ctp-surface2);
  --chatview__message_giflabel__fontcolor: var(--ctp-text);
  --chatview__message_details__backgroundcolor: rgba(17, 17, 27, 0.4);
  --chatview__message_details_floating__fontcolor: var(--ctp-text);
  --chatview__message_linkpreview__fontcolor: var(--ctp-mauve);
  --chatview__message_code__backgroundcolor: rgba(24, 24, 37, 0.65);
  --chatview__message_quote__bordercolor: var(--ctp-sapphire);
  --chatview__message_quote__fontcolor: var(--ctp-subtext1);
  --chatview__message_reply_sender_name__fontcolor: var(--ctp-text);
  --chatview__message_reaction_add_self__backgroundcolor: rgba(17, 17, 27, 0.15);
  --chatview__message_reaction__backgroundsaturation: 97%;
  --chatview__message_reaction__backgroundlightness: 15%;
  --chatview__message_reaction__backgroundopacity: 0.1;

  /* // Context Menu */
  --contextmenu__item_hover__backgroundcolor: var(--ctp-mantle);
  --contextmenu__backgroundcolor: var(--ctp-base);
  --contextmenu__fontcolor: var(--ctp-text);
  --contextmenu__item_hover__fontcolor: var(--ctp-sapphire);
  --contextmenu__bordercolor: var(--ctp-mantle);

  /* Left panel */
  --left-panel-bg-no-transparency: var(--ctp-mantle);
  --space-bar-bg: var(--ctp-crust);
  --search-bar-input-fg: var(--ctp-text);
  --search-input-bg-experimental: var(--ctp-surface0);

  /* Archive */
  --archive-fg: var(--ctp-text);

  --read-check-color: var(--ctp-subtext1);
  --read-check-color-bubble: var(--ctp-subtext1);
  --primary-bg-color: var(--ctp-base);
  --primary-fg-color: var(--ctp-text);
  --lightbox-icon-color: var(--ctp-subtext0);
  --lightbox-bg-color: var (--ctp-crust);
  --input-border-color: var(--ctp-surface1);

  /* colour overrides */
  --color-white-rgb: 205, 214, 244;
  --color-white: var(--ctp-text);
  --color-yellow-100: var(--ctp-yellow);
  --color-yellow-200: var(--ctp-yellow);
  --color-yellow-300: var(--ctp-yellow);
  --color-yellow-400: var(--ctp-yellow);
  --color-yellow-500: var(--ctp-yellow);
  --color-yellow-600: var(--ctp-yellow);
  --color-yellow-700: var(--ctp-yellow);
  --color-yellow-800: var(--ctp-yellow);
  --color-yellow-900: var(--ctp-yellow);
  --color-teal-100: var(--ctp-teal);
  --color-teal-200: var(--ctp-teal);
  --color-teal-300: var(--ctp-teal);
  --color-teal-400: var(--ctp-teal);
  --color-teal-500: var(--ctp-teal);
  --color-teal-600: var(--ctp-teal);
  --color-teal-700: var(--ctp-teal);
  --color-teal-800: var(--ctp-teal);
  --color-teal-900: var(--ctp-teal);
  --color-teal-900: var(--ctp-teal);
  --color-red-100: var(--ctp-red);
  --color-red-200: var(--ctp-red);
  --color-red-300: var(--ctp-red);
  --color-red-400: var(--ctp-red);
  --color-red-500: var(--ctp-red);
  --color-red-600: var(--ctp-red);
  --color-red-700: var(--ctp-red);
  --color-red-800: var(--ctp-red);
  --color-red-900: var(--ctp-red);
  --color-purple-100: var(--ctp-mauve);
  --color-purple-200: var(--ctp-mauve);
  --color-purple-300: var(--ctp-mauve);
  --color-purple-400: var(--ctp-mauve);
  --color-purple-500: var(--ctp-mauve);
  --color-purple-600: var(--ctp-mauve);
  --color-purple-700: var(--ctp-mauve);
  --color-purple-800: var(--ctp-mauve);
  --color-purple-900: var(--ctp-mauve);
  --color-pink-100: var(--ctp-pink);
  --color-pink-200: var(--ctp-pink);
  --color-pink-300: var(--ctp-pink);
  --color-pink-400: var(--ctp-pink);
  --color-pink-500: var(--ctp-pink);
  --color-pink-600: var(--ctp-pink);
  --color-pink-700: var(--ctp-pink);
  --color-pink-800: var(--ctp-pink);
  --color-pink-900: var(--ctp-pink);
  --color-orange-100: var(--ctp-peach);
  --color-orange-200: var(--ctp-peach);
  --color-orange-300: var(--ctp-peach);
  --color-orange-400: var(--ctp-peach);
  --color-orange-500: var(--ctp-peach);
  --color-orange-600: var(--ctp-peach);
  --color-orange-700: var(--ctp-peach);
  --color-orange-800: var(--ctp-peach);
  --color-orange-900: var(--ctp-peach);
  --color-neutral-100: var(--ctp-text);
  --color-neutral-200: var(--ctp-subtext1);
  --color-neutral-300: var(--ctp-subtext0);
  --color-neutral-400: var(--ctp-overlay2);
  --color-neutral-500: var(--ctp-overlay1);
  --color-neutral-600: var(--ctp-overlay0);
  --color-neutral-700: var(--ctp-surface2);
  --color-neutral-800: var(--ctp-surface1);
  --color-neutral-900: var(--ctp-surface0);
  --color-green-100: var(--ctp-green);
  --color-green-200: var(--ctp-green);
  --color-green-300: var(--ctp-green);
  --color-green-400: var(--ctp-green);
  --color-green-500: var(--ctp-green);
  --color-green-600: var(--ctp-green);
  --color-green-700: var(--ctp-green);
  --color-green-800: var(--ctp-green);
  --color-green-900: var(--ctp-green);
  --color-cyan-100: var(--ctp-sky);
  --color-cyan-200: var(--ctp-sky);
  --color-cyan-300: var(--ctp-sky);
  --color-cyan-400: var(--ctp-sky);
  --color-cyan-500: var(--ctp-sky);
  --color-cyan-600: var(--ctp-sky);
  --color-cyan-700: var(--ctp-sky);
  --color-cyan-800: var(--ctp-sky);
  --color-cyan-900: var(--ctp-sky);
  --color-brand-purple-100: var(--ctp-mauve);
  --color-brand-purple-200: var(--ctp-mauve);
  --color-brand-purple-300: var(--ctp-mauve);
  --color-brand-purple-400: var(--ctp-mauve);
  --color-brand-purple-500: var(--ctp-mauve);
  --color-brand-purple-600: var(--ctp-mauve);
  --color-brand-purple-700: var(--ctp-mauve);
  --color-brand-purple-800: var(--ctp-mauve);
  --color-brand-purple-900: var(--ctp-mauve);

  --header-panel-bg-color: #f00 !important;
}

body {
  background-color: var(--ctp-base);
  color: var(--ctp-text);
}

h2 {
  color: var(--ctp-text);
}

a,
a:link {
  color: var(--ctp-blue);
}

a:hover {
  color: var(--ctp-sapphire);
}

a:visited {
  color: var(--ctp-mauve);
}

.mx_Dialog,
.mx_MatrixChat_wrapper {
  .mx_textinput > input[type='text'],
  .mx_textinput > input[type='search'] {
    color: var(--ctp-text);
  }

  :not(.mx_textinput):not(.mx_Field):not(.mx_no_textinput):not(.bp_TextInput2) > input[type='text'],
  :not(.mx_textinput):not(.mx_Field):not(.mx_no_textinput):not(.bp_TextInput2)
    > input[type='search'],
  .mx_textinput {
    color: var(--ctp-base);
  }
}

/* seems to be the right panel (info about the room)	 */
.dark-panel {
  background-color: var(--ctp-mantle);
}

/* frame around selected space	 */
.ED6hnM59dIDcpfzGwRgcw._2Ehy5SR2431Qst4W5pYqzH {
  border-color: var(--ctp-overlay0);
}

.bp_Icon {
  fill: var(--ctp-subtext0);
}

.bp_LeftPanel {
  background-color: var(--ctp-mantle);
}

.bp_LeftPanel .rooms {
  background-color: var(--ctp-mantle);
}

.bp_LeftPanel .rooms .favourites.rooms__section {
  background-color: var(--ctp-mantle);
}

.bp_Header {
  background-color: var(--ctp-mantle);
}

.bp_Header > .controls .mx_AccessibleButton::before {
  background-color: var(--ctp-subtext0);
}

.bp_Header > .controls .mx_AccessibleButton:hover:not(.mx_AccessibleButton_disabled)::before {
  background-color: var(--ctp-blue);
}

/* search icon on left panel search bar*/
._35xSVdLoDIOdPHIBAg_R8g ._1pTmFQiyl9hshLvZOcDfXA {
  background-color: var(--ctp-subtext0);
}

._35xSVdLoDIOdPHIBAg_R8g ._2Ssa7oGaVbyq6mkABvKL7Z::placeholder {
  color: var(--ctp-subtext0);
}

/* the Ctrl + K text */
._35xSVdLoDIOdPHIBAg_R8g ._1jDfIh9jdSpQMVLRGyXCqB {
  color: var(--ctp-subtext0);
}

/* start new chat button */
._1hKG82DTLveCHZ2K_QN7a8:hover {
  background-color: var(--ctp-surface1);
}

/* favourite chats */
._2RxYpW1IycPvkb8e8t9-uw {
  color: var(--ctp-subtext1);
}

.rooms_actions {
  background-color: var(--ctp-mantle);
  color: var(--ctp-subtext0);
}

/* inbox text */
._1G3tG1BTDkctpkif1n78-v {
  color: var(--ctp-subtext1);
}

.rooms_scroll-container {
  background-color: var(--ctp-mantle);
  /* 		color: var(--ctp-text); */
}

/* selected chat */
._2iYRbtxMK350NUKTyKq6TP._2BQ3vTKqpKPR2kFnIs36Nc {
  background-color: var(--ctp-surface0);
}

.favourite-indicator {
  color: var(--ctp-red);
}

/* pinned icon */
._2Aha1gebcJzSLmjjoIoPWS .bp_icon {
  color: var(--ctp-subtext0);
}

/* Contact name on chat list */
._1vnYRT0Usncfw-omfvREIT {
  color: var(--ctp-text);
}

/* group name on chat list */
._1vnYRT0Usncfw-omfvREIT._1zRlzDyapvcQN2KrMwXANX {
  color: var(--ctp-text);
}

/* conversation preview */
._3aLdohAs58eHtRaZ-POjlB ._1icB3m8_OGOdNGEnjhPONT {
  color: var(--ctp-subtext1);
}

/* unpin button */
._18BX2_VpE582cTh4iyMEZA:hover {
  background-color: var(--ctp-yellow);
  color: var(--ctp-base);
}

/* timestamp */
._9pYanF0mR2qDAkCUrc_Ti {
  color: var(--ctp-subtext0);
}

/* double check */
._1TNcWDmcvePFx5PzTu2T-g svg {
  fill: var(--ctp-green);
}

/* unread message counter */
._29wNnDmOKzlqOsGXbZtTjf {
  color: var(--ctp-text);
}

/* unread message counter pill */
._29wNnDmOKzlqOsGXbZtTjf._11SPfUnVN77UWmnu6vjpJS {
  background-color: var(--ctp-overlay0);
}

/* start a chat search */
._1ZauRA3DeP5KCPT_ZChu1L {
  background-color: var(--ctp-surface0);
}

.bp_Button2_text {
  color: var(--ctp-text);
}

/* start a chat with... */
._82rJk6JBLjQ2R4_RFhWI8 {
  color: var(--ctp-text);
}

.mx_ContextualMenu {
  background-color: var(--ctp-surface0);
  color: var(--ctp-text);
}

.mx_IconizedContextMenu .mx_IconizedContextMenu_optionList .mx_AccessibleButton {
  color: var(--ctp-text);
}

.mx_IconizedContextMenu .mx_IconizedContextMenu_optionList .mx_AccessibleButton:hover {
  background-color: var(--ctp-surface1);
}

/* 	.mx_IconizedContextMenu .mx_IconizedContextMenu_optionList .mx_AccessibleButton:hover {
  color: var(--ctp-sapphire);
} */
.mx_RoomTile2_contextMenu .mx_IconizedContextMenu_icon::before {
  background-color: var(--ctp-text);
}

/* 	.mx_RoomTile2_contextMenu .mx_IconizedContextMenu_icon:hover::before {
  background-color: var(--ctp-sapphire);
} */
.nv_RoomTile2_contextMenu_activeRow.mx_AccessibleButton,
.nv_RoomTile2_contextMenu_activeRow .mx_AccessibleButton,
.nv_RoomTile2_contextMenu_activeRow .mx_IconizedContextMenu_label,
.mx_IconizedContextMenu_icon {
  color: var(--ctp-green) !important;
  /* 		text-decoration-color: var(--ctp-sapphire) !important; */
}

.mx_IconizedContextMenu .mx_IconizedContextMenu_active.mx_AccessibleButton {
  color: var(--ctp-green) !important;
}

.mx_IconizedContextMenu .mx_IconizedContextMenu_active .mx_IconizedContextMenu_icon::before {
  background-color: var(--ctp-green);
}

[aria-label='Remove Chat'] .nv_RoomTile2_contextMenu_redRow .nv_AccessibleButton,
.nv_RoomTile2_contextMenu_redRow .mx_IconizedContextMenu_label {
  color: var(--ctp-red) !important;
}

.bp_MainPanel {
  background-color: var(--ctp-base);
}

/* self reaction */
._26kmSVS2EjmiuGo8pZydF8._1WRm95TPWOJRQ5AldIF9d8 {
  background-color: var(--ctp-teal);
  color: var(--ctp-text);
}

/* reaction */
._26kmSVS2EjmiuGo8pZydF8.b4USVCImGBZqyP5D6_tJ_:not(._1WRm95TPWOJRQ5AldIF9d8) {
  background-color: var(--ctp-blue);
}

/* Room Header */
.mx_RoomHeader {
  background-color: var(--ctp-mantle);
  box-shadow: -1px 15px 5px -1px rgba(17, 17, 27, 0.75);
}

.mx_RoomHeader_leftActions span,
.mx_RoomHeader_rightActions span {
  color: var(--ctp-subtext0);
  fill: var(--ctp-subtext0);
}

.mx_RoomHeader_name,
.mx_RoomHeader_nametext {
  color: var(--ctp-text) !important;
}
