/*
 *
 * Catppuccin Latte for gomuks
 * v1.0.0
 *
 * Theme by @vrkknn:vrkknn.net
 * https://github.com/Virkkunen/themes/
 *
 * Based on Catppuccin
 * https://github.com/catppuccin/catppuccin
 *
 */

:root {
  /* colours */
  --ctp-rosewater: #dc8a78;
  --ctp-flamingo: #dd7878;
  --ctp-pink: #ea76cb;
  --ctp-mauve: #8839ef;
  --ctp-red: #d20f39;
  --ctp-maroon: #e64553;
  --ctp-peach: #fe640b;
  --ctp-yellow: #df8e1d;
  --ctp-green: #40a02b;
  --ctp-teal: #179299;
  --ctp-sky: #04a5e5;
  --ctp-sapphire: #209fb5;
  --ctp-blue: #1e66f5;
  --ctp-lavender: #7287fd;
  --ctp-text: #4c4f69;
  --ctp-subtext1: #5c5f77;
  --ctp-subtext0: #6c6f85;
  --ctp-overlay2: #7c7f93;
  --ctp-overlay1: #8c8fa1;
  --ctp-overlay0: #9ca0b0;
  --ctp-surface2: #acb0be;
  --ctp-surface1: #bcc0cc;
  --ctp-surface0: #ccd0da;
  --ctp-base: #eff1f5;
  --ctp-mantle: #e6e9ef;
  --ctp-crust: #dce0e8;
  --opacity-overlay0: rgba(114, 135, 253, 0.15); /* ctp-lavender */
  --opacity-overlay1: rgba(114, 135, 253, 0.25); /* ctp-lavender */
  --jump-to-reply-overlay0: rgba(136, 57, 239, 0.25); /* ctp-mauve */

  /* room-list */
  --room-list-background-overlay: transparent;
  --room-list-background: var(--ctp-base);
  --room-list-entry-hover-color: var(--opacity-overlay1);
  --room-list-entry-selected-color: var(--opacity-overlay0);
  --room-list-scrollbar-color: var(--ctp-overlay2);
  --room-list-search-background-overlay: var(--ctp-surface0);

  /* unread */
  --unread-counter-highlight-bg: var(--ctp-mauve);
  --unread-counter-message-bg: var(--ctp-subtext0);
  --unread-counter-notification-bg: var(--ctp-teal);
  --unread-counter-text-color: var(--ctp-crust);
  --space-unread-counter-highlight-bg: var(--ctp-red);
  --space-unread-counter-message-bg: var(--ctp-subtext0);

  /* sender */
  --sender-color-0: var(--ctp-blue);
  --sender-color-1: var(--ctp-sapphire);
  --sender-color-2: var(--ctp-maroon);
  --sender-color-3: var(--ctp-peach);
  --sender-color-4: var(--ctp-yellow);
  --sender-color-5: var(--ctp-green);
  --sender-color-6: var(--ctp-teal);
  --sender-color-7: var(--ctp-red);
  --sender-color-8: var(--ctp-mauve);
  --sender-color-9: var(--ctp-blue);

  /* timeline */
  --timeline-highlight-bg-color: var(--opacity-overlay0);
  --timeline-highlight-hover-bg-color: var(--opacity-overlay1);
  --timeline-hover-bg-color: var(--opacity-overlay0);
  --timeline-jump-bg-color: var(--jump-to-reply-overlay0);
  --timeline-jump-hover-bg-color: var(--ctp-green);

  /*  */
  --background-color: var(--ctp-crust);
  --blockquote-border-color: var(--ctp-mauve);
  --border-color: var(--ctp-mantle);
  --button-hover-color: var(--ctp-surface2);
  --code-background-color: var(--ctp-base);
  --composer-background-color: var(--ctp-mantle);
  --emoji-selected-border-color: var(--ctp-teal);
  --error-color: var(--ctp-red);
  --highlight-pill-background-color: var(--ctp-red);
  --highlight-pill-text-color: var(--ctp-crust);
  --inverted-text-color: var(--ctp-crust);
  --light-hover-color: var(--opacity-overlay1);
  --lightbox-button-color: var(--surface2);
  --link-text-color: var(--ctp-blue);
  --login-background-color: var(--ctp-crust);
  --media-placeholder-default-background: var(--ctp-surface0);
  --modal-box-shadow-color: var(--ctp-crust);
  --pill-background-color: var(--ctp-mauve);
  --primary-color-dark: var(--ctp-green);
  --primary-color: var(--ctp-green);
  --secondary-text-color: var(--ctp-overlay1);
  --semisecondary-text-color: var(--ctp-subtext0);
  --sent-error-color: var(--ctp-maroon);
  --sent-ok-color: var(--ctp-green);
  --space-list-background-overlay: var(--ctp-mantle);
  --text-color: var(--ctp-text) !important;
  --url-preview-background-color: var(--ctp-base);
  --visited-link-text-color: var(--ctp-mauve);
}